body {
  background-color: #e9ff70;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1400px;
}

.board {
  order: 2;
  flex-grow: 2;
  /* justify-content: space-between; */

  flex-basis: auto;
  text-align: center;
  vertical-align: middle;
  font-family: 'Caudex', serif;
  font-size: 30px;
}

.boggle-row {
  display: inline-flex;
  flex-direction: row;
}

.box {
  background-color: #f3e5f5;
  color: black;
  line-height: 90px;
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  font-family: 'Cormorant Upright', serif;
  font-size: 30px;
}


#new-board-button {
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  margin: 6px;
  background-color: #70d6ff;
}

#word-input {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 280px;
  font-family: 'Caudex', serif;
  font-size: 20px;
}

.existing-words {
  order: 3;
  flex-grow: 1;
  /* justify-content: space-between; */
  flex-basis: auto;
  width: 680px;
}

.highscores {
  order: 1;
  flex-grow: 1;
  /* justify-content: space-between; */
  flex-basis: auto;
  width: 680px;
}

#correct-words {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  color: #ff70a6;
}

#timer {
  display: flex;
  justify-content: center;
  flex-direction: row;

  font-size: 40px;
  font-family: 'Pacifico', cursive;
}

#score {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  color: #ff70a6;
}

#word-list {
  font-size: 30px;
  font-family: 'Bangers', cursive;
  color: #ea80fc;
  position: relative;
  margin: auto;
  column-count: 2;
}

#boggle-header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 80px;
  font-family: 'Faster One', cursive;
  color: #70d6ff;
}

#high-scores-header {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  color: #ff70a6;
  text-align: center;
}

th {
  text-align: center;
}


#inputBox {
	background-color: #f3e5f5;
}
