.row  {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.col {
    border: 1px solid #eee;
    text-align: center;
    line-height: 28px;
    font-size: 10px;
    background-color: #ffb6c1;
    color: white;
    padding: 0;
}
